---
layout: default
refactor: true
---
  <style>
      /* Global Styles */
      body {
          margin: 50px 12%;
          background-color: #1c1c1c;
          color: #fff;
          font-family: 'Roboto', sans-serif;
      }

      /* Header Styles */
      h1 {
          text-align: center;
          font-weight: bold;
          margin-bottom: 30px;
          position: relative;
      }

      /* Landing Container Styles */
      .landing-container {
          display: flex;
          flex-wrap: wrap; /* Added to allow wrapping on smaller screens */
          justify-content: space-between;
          margin-top: 50px;
      }

      /* Image Container Styles */
      .image-container {
          position: relative;
          width: 40%;
          margin-bottom: 20px;
          overflow: hidden;
      }

      .image-container img {
          width: 100%;
          border-radius: 8px;
      }

      .text-box {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 80%;
          background-color: #343a40;
          color: #fff;
          padding: 8px;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
          text-align: center;
      }

      .text-box a {
          color: #fff;
          font-weight: bold;
          text-decoration: none;
      }

      .image-container:hover .text-box {
          transform: scale(1.2);
      }

      /* Blog Container Styles */
      .blog-container {
          width: 55%;
          padding-left: 20px;
          margin-top: 20px; /* Adjusted margin */
      }

      .blog-container h1,
      .blog-container h2 {
          font-size: 1.5em;
          color: #fff;
          margin-top: 0; /* Removed margin-top for h1 and h2 */
      }

      .blog-container p {
          color: #a0a0a0;
      }

      .blog-container a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
      }

      .blog-container p a {
          font-weight: normal;
      }

      /* Footer Styles */
      #gallery-link,
      #latest-post-link {
          display: block;
          margin-top: 20px;
          font-size: 1.2em;
      }

      #site-description {
          margin-top: 20px; /* Adjusted margin */
          font-size: 1.2em;
      }

      /* About Section Styles */
      #about-section {
          margin-top: 50px;
          font-size: 1.2em;
      }
  </style>

##Put your text here.##

  <!-- Landing Container Section -->
  <div class="landing-container">
      <!-- Photo Gallery Section -->
      <div class="image-container">
          <h3><a href="https://www.seriouslymatt.com/" style="color: #fff; text-decoration: none;">Photo Gallery</a></h3>
          <div class="text-box">
              <p style="font-weight: bold; font-size: 1.5em; color: #fff;"><a href="https://www.seriouslymatt.com/">Test 1</a></p>
          </div>
          <a href="https://www.seriouslymatt.com/">
              <img src="/assets/img/20230709_matt.JPG" alt="Happy Matt">
          </a>
          <p><a href="https://www.seriouslymatt.com/">View Entire Image Gallery</a></p>
      </div>

      <!-- Latest Blog Post Section -->
      <div class="blog-container">
          <h1>Latest Blog Posts</h1>
          <h2><a href="https://www.seriouslymatt.com/posts/bikeoverhaul/">Bike Overhaul</a></h2>
          <p>Story from Biking MD continues. After multiple lunch-time trips around the BWI path, the old 1971 Schwinn
              “knock-off” (it was made in Japan and only shows the Schwinn name on... </p>
          <p style="font-size: 0.8em; color: #fff;"><a href="https://www.seriouslymatt.com/posts/bikeoverhaul/">December 28,
                  2023</a></p>

          <h2><a href="https://www.seriouslymatt.com/posts/hanukkah2023/">Hanukkah 2023</a></h2>
          <p>It is not about the presents, But it is fun to see and remember them</p>
          <p style="font-size: 0.8em; color: #fff;"><a href="https://www.seriouslymatt.com/posts/hanukkah2023/">December
                  16, 2023</a></p>

          <p><a id="latest-post-link" href="https://www.seriouslymatt.com/">View All Posts</a></p>
      </div>
  </div>

  <!-- About Section -->
  <div id="about-section">
      <h1>About Seriously Matt</h1>
      <p>Seriously Matt was created to juxtapose my natural serious demeanor with the eccentric and mundane musings of
          the trivial. I wanted to be able to share about the serious topics that pique my interest. And I wanted to
          write how my viewpoints on fruit are highly dependent on their seed size relative to my teeth. My theme
          encompasses my interests which change by the year, month, or week.</p>

      <p>Another major reason for this website is the IndieWeb where people own and maintain their content. I generate
          content on my site, and share it on other platforms. There are links on this tab to verify my account across
          sites.</p>

      <p>I don’t have comments enabled, but if someone finds one of my posts interesting, let me know in one of the
          social media links provided. Please forgive all spelling and grammatical mistakes.</p>
  </div>


</body>